@{
    ViewBag.Title = "Podcast";
}
<section class="podcast-header-container">
    <div>
        <article>
            <h3 class="podcast-header-caption">Podcast series - Life Saving Tips for Disasters</h3>
            <p>
                Dive deep into the most riveting, real-life disaster stories with our podcast series. From natural calamities to man-made crises, we bring you closer to the events that shaped our world, with insights, expert opinions, and personal narratives
                that keep you on the edge of your seat. Stay informed, stay prepared.
            </p>
        </article>
    </div>
</section>
<section class="flex-container card-list-view" style="margin-top: 0;">
    <div class="podcast-container">
        <article class="article-card">
            <a href="https://podcasts.apple.com/us/podcast/life-saving-tips-for-disasters/id1714913702" class="img-box">
                <img src="~/Assets/asset/images/apple.png" alt="banner" class="article-banner">
            </a>
            <div class=" article-content ">
                <a href="https://podcasts.apple.com/us/podcast/life-saving-tips-for-disasters/id1714913702">
                    <h3 class="article-title ">Life Saving Tips for Disasters</h3>
                </a>
                <div class="article-content-footer ">
                    <div class="author ">
                        <img src="~/Assets/asset/images/avathar.webp" alt=" " class="author-avatar ">
                        <div class="author-info ">
                            <a href="# ">
                                <h4 class="author-name ">Nandika Devarajan</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <p class="article-text ">
                    Nandika Devarajan is currently a high school sophomore and a FEMA YPC Region 10 co-chair. In this podcast series, she interviews several experts, discussing various vital life saving tips for disaster preparedness and awareness.
                </p>
            </div>
        </article>
    </div>
    <div class="podcast-container">
        <article class="article-card">
            <a href="https://open.spotify.com/show/4X5opAT80e8KvBDLxxFcDo" class="img-box">
                <img src="~/Assets/asset/images/spotify.jpg" alt="banner" class="article-banner">
            </a>
            <div class=" article-content ">
                <a href="https://open.spotify.com/show/4X5opAT80e8KvBDLxxFcDo">
                    <h3 class="article-title ">Life Saving Tips for Disasters</h3>
                </a>
                <div class="article-content-footer ">
                    <div class="author ">
                        <img src="~/Assets/asset/images/avathar.webp" alt=" " class="author-avatar ">
                        <div class="author-info ">
                            <a href="# ">
                                <h4 class="author-name ">Nandika Devarajan</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <p class="article-text ">
                    Nandika Devarajan is currently a high school sophomore and a FEMA YPC Region 10 co-chair. In this podcast series, she interviews several experts, discussing various vital life saving tips for disaster preparedness and awareness.
                </p>
            </div>
        </article>
    </div>
    <div class="podcast-container">
        <article class="article-card">
            <a href="https://www.amazon.com/arya/webplayer?ref_=undefined&asin=B0CM25C15Z&useRelativeUrl=true&amazonAsin=B0CMGQXXHP&marketplaceId=AF2M0KC94RCEA&initialCPLaunch=false&overrideLph=true&contentDeliveryType=PodcastEpisode&listeningContext=undefined&cloudPlayerStartLoadTime=1705359817545&plink=undefined&refTag=undefined&showUpNext=undefined"
               class="img-box">
                <img src="~/Assets/asset/images/amazon-final.png" alt="banner" class="article-banner">
            </a>
            <div class=" article-content ">
                <a href="https://www.amazon.com/arya/webplayer?ref_=undefined&asin=B0CM25C15Z&useRelativeUrl=true&amazonAsin=B0CMGQXXHP&marketplaceId=AF2M0KC94RCEA&initialCPLaunch=false&overrideLph=true&contentDeliveryType=PodcastEpisode&listeningContext=undefined&cloudPlayerStartLoadTime=1705359817545&plink=undefined&refTag=undefined&showUpNext=undefined">
                    <h3 class="article-title ">Life Saving Tips for Disasters</h3>
                </a>
                <div class="article-content-footer ">
                    <div class="author ">
                        <img src="~/Assets/asset/images/avathar.webp" alt=" " class="author-avatar ">
                        <div class="author-info ">
                            <a href="# ">
                                <h4 class="author-name ">Nandika Devarajan</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <p class="article-text ">
                    Nandika Devarajan is currently a high school sophomore and a FEMA YPC Region 10 co-chair. In this podcast series, she interviews several experts, discussing various vital life saving tips for disaster preparedness and awareness.
                </p>
            </div>
        </article>
    </div>
    <div class="podcast-container">
        <article class="article-card">
            <a href="https://music.youtube.com/googlepodcasts" class="img-box">
                <img src="~/Assets/asset//images/google.jpg" alt="banner" class="article-banner">
            </a>
            <div class=" article-content ">
                <a href="https://music.youtube.com/googlepodcasts">
                    <h3 class="article-title ">Life Saving Tips for Disasters</h3>
                </a>
                <div class="article-content-footer ">
                    <div class="author ">
                        <img src="~/Assets/asset/images/avathar.webp" alt=" " class="author-avatar ">
                        <div class="author-info ">
                            <a href="# ">
                                <h4 class="author-name ">Nandika Devarajan</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <p class="article-text ">
                    Nandika Devarajan is currently a high school sophomore and a FEMA YPC Region 10 co-chair. In this podcast series, she interviews several experts, discussing various vital life saving tips for disaster preparedness and awareness.
                </p>
            </div>
        </article>
    </div>

</section>


<script type="module " src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js "></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js "></script>
